{% extends "base.html.twig" %}

{% block title %} Inscription {% endblock %}

{% block style %} <link href="css/form.css" rel="stylesheet">   {% endblock %}

{% block body %} 
  
    {% if form.valide is defined %} 
        {% if form.valide == false %}
            <h1 class="h3 mb-3 font-weight-normal">{{form.message}}</h1>
        {% endif %}
    {% endif %}
    
    <div align="center">
        <form class="form-group" action="index.php?page=admin-panel-inscription" method="post" enctype="application/x-www-form-urlencoded">
            <h1>S'inscrire</h1>
            <div class="col-md-2 offset-md-0">
                <input type="email" id="email" name="email" class="form-control" placeholder="Adresse mail" required autofocus>
            </div>
            <div class="col-md-2 offset-md-0">
                <input type="password" id="passwd" name="passwd" class="form-control" placeholder="Mot de passe" required>
            </div>
            <div class="col-md-2 offset-md-0">
                <input type="password" id="passwd2" name="passwd2" class="form-control" placeholder="Confirmer le mot de passe" required>
            </div>
            <div class="col-md-2 offset-md-0">
                <select name="role" class="form-control">
                    {% for u in liste %}
                         <option value="{{u.id}}">{{u.libelle}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btInscription" name="btInscription">S'inscrire</button>
        </form> 
    </div>
    
{% endblock %} 