{% extends "base.html.twig" %}

{% block title %}Maintenance en cours{% endblock %}

{% block body %}
    
    <h1>Le site Plein La Bouche est actuellement en maintenance, veuillez revenir plus tard !</h1>
    
{% endblock %}